# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env file
*.env

# Json files
*.json

# IDE files
.vscode/

# third-party dependencies
third_party/

.yaml